@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.loginPage {
  flex: 1;
  flex-direction: column;
}

.logoView {
  background-color: #6190e8;
  flex: 4;
  height: 400px;
  text-align: center;
}

.logo{
    width: 200px;
    height: 200px;
    margin-top: 60px;
}

.logoTitle{
    font-size: 32px;
    margin-top: 40px;
    color: white;
    font-weight: 600;
}

.formView {
  flex: 6;
  padding: 20px 50px 0px 50px;
}

.loginInput {
  margin-top: 30px;
}
.buttonView {
  margin-top: 100px;
}

.subButton {
  text-align: center;
  padding-top: 30px;
  color: #9e9e9e;
  font-size: 25px;
}

.at-form::after {
  border: none;
}
