@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/timeline.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/tag.scss";
@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/message.scss";

.cardView {
  margin-top: 30px;
}

.container {
  background-color: #f7f7f7;
}

.tagContainer {
  padding: 20px 30px 0px 30px;
}

.rightContainer {
  //   border-left: 1px #d6e4ef solid;
  text-align: center;
}

.rightComp {
  //   text-align: center;
  padding-bottom: 15px;
}

.countText {
  font-size: 50px;
  font-weight: 600;
  color: #6190e8;
}

.countContent {
  //   font-size: 30px;
  font-weight: 600;
}

.at-divider__content {
  background-color: #f7f7f7;
}

// .at-card__content {
//   padding: 0px 24px 24px 24px;
// }

.at-timeline-item__content {
  font-size: 31px;
}

.at-timeline-item__content-item {
  margin-top: 10px;
}

.at-timeline-item__dot::after {
  border-color: white;
}
